
.w-1p {
    width: 1%;
}
.w-2p {
    width: 2%;
}
.w-3p {
    width: 3%;
}
.w-4p {
    width: 4%;
}
.w-5p {
    width: 5%;
}
.w-6p {
    width: 6%;
}
.w-7p {
    width: 7%;
}
.w-8p {
    width: 8%;
}
.w-9p {
    width: 9%;
}
.w-10p {
    width: 10%;
}
.w-11p {
    width: 11%;
}
.w-12p {
    width: 12%;
}
.w-13p {
    width: 13%;
}
.w-14p {
    width: 14%;
}
.w-15p {
    width: 15%;
}
.w-16p {
    width: 16%;
}
.w-17p {
    width: 17%;
}
.w-18p {
    width: 18%;
}
.w-19p {
    width: 19%;
}
.w-20p {
    width: 20%;
}
.w-21p {
    width: 21%;
}
.w-22p {
    width: 22%;
}
.w-23p {
    width: 23%;
}
.w-24p {
    width: 24%;
}
.w-25p {
    width: 25%;
}
.w-26p {
    width: 26%;
}
.w-27p {
    width: 27%;
}
.w-28p {
    width: 28%;
}
.w-29p {
    width: 29%;
}
.w-30p {
    width: 30%;
}
.w-31p {
    width: 31%;
}
.w-32p {
    width: 32%;
}
.w-33p {
    width: 33%;
}
.w-34p {
    width: 34%;
}
.w-35p {
    width: 35%;
}
.w-36p {
    width: 36%;
}
.w-37p {
    width: 37%;
}
.w-38p {
    width: 38%;
}
.w-39p {
    width: 39%;
}
.w-40p {
    width: 40%;
}
.w-41p {
    width: 41%;
}
.w-42p {
    width: 42%;
}
.w-43p {
    width: 43%;
}
.w-44p {
    width: 44%;
}
.w-45p {
    width: 45%;
}
.w-46p {
    width: 46%;
}
.w-47p {
    width: 47%;
}
.w-48p {
    width: 48%;
}
.w-49p {
    width: 49%;
}
.w-50p {
    width: 50%;
}
.w-51p {
    width: 51%;
}
.w-52p {
    width: 52%;
}
.w-53p {
    width: 53%;
}
.w-54p {
    width: 54%;
}
.w-55p {
    width: 55%;
}
.w-56p {
    width: 56%;
}
.w-57p {
    width: 57%;
}
.w-58p {
    width: 58%;
}
.w-59p {
    width: 59%;
}
.w-60p {
    width: 60%;
}
.w-61p {
    width: 61%;
}
.w-62p {
    width: 62%;
}
.w-63p {
    width: 63%;
}
.w-64p {
    width: 64%;
}
.w-65p {
    width: 65%;
}
.w-66p {
    width: 66%;
}
.w-67p {
    width: 67%;
}
.w-68p {
    width: 68%;
}
.w-69p {
    width: 69%;
}
.w-70p {
    width: 70%;
}
.w-71p {
    width: 71%;
}
.w-72p {
    width: 72%;
}
.w-73p {
    width: 73%;
}
.w-74p {
    width: 74%;
}
.w-75p {
    width: 75%;
}
.w-76p {
    width: 76%;
}
.w-77p {
    width: 77%;
}
.w-78p {
    width: 78%;
}
.w-79p {
    width: 79%;
}
.w-80p {
    width: 80%;
}
.w-81p {
    width: 81%;
}
.w-82p {
    width: 82%;
}
.w-83p {
    width: 83%;
}
.w-84p {
    width: 84%;
}
.w-85p {
    width: 85%;
}
.w-86p {
    width: 86%;
}
.w-87p {
    width: 87%;
}
.w-88p {
    width: 88%;
}
.w-89p {
    width: 89%;
}
.w-90p {
    width: 90%;
}
.w-91p {
    width: 91%;
}
.w-92p {
    width: 92%;
}
.w-93p {
    width: 93%;
}
.w-94p {
    width: 94%;
}
.w-95p {
    width: 95%;
}
.w-96p {
    width: 96%;
}
.w-97p {
    width: 97%;
}
.w-98p {
    width: 98%;
}
.w-99p {
    width: 99%;
}
.w-100p,
.full-width {
    width: 100%;
}

.pos-fixed {
  position: fixed;   
}

.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

.pos-static {
    position: static;
}

.w50 {
    width: 50px;
}
.w100 {
    width: 100px;
}
.w150 {
    width: 150px;
}
.w200 {
    width: 200px;
}
.w250 {
    width: 250px;
}
.w300 {
    width: 300px;
}
.line-height-1 {
    line-height: 1;
}

.h-f-vp {
    height: 100vh;
}

.white-space-pre {
    white-space: pre;
}

.white-space-pre-line {
    white-space: pre-line;
}

.round {
    border-radius: 5px;
}

.round-lg {
    border-radius: 10px;
}

.auto-height {
    height: auto !important;
}

.table-layout-fixed {
    table-layout: fixed;
}

.truncate {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.equal-height-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.equal-height-container > * {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/** Custom checkbox style **/

.i-checks {
    padding-left: 20px;
    cursor: pointer;
}

.i-checks input {
    position: absolute;
    margin-left: -20px;
    opacity: 0;
}

.i-checks input:checked + i {
    border-color: #455A64;
}

.i-checks input:checked + i:before {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: #455A64;
}

.i-checks-info input:checked + i {
    border-color: #00bcd4;
}

.i-checks-info input:checked + i:before {
    background-color: #00bcd4;
}

.i-checks input:checked + span .active {
    display: inherit;
}

.i-checks input[type="radio"] + i,
.i-checks input[type="radio"] + i:before {
    border-radius: 50%;
}

.i-checks input[disabled] + i,
fieldset[disabled] .i-checks input + i {
    border-color: #dee5e7;
}

.i-checks input[disabled] + i:before,
fieldset[disabled] .i-checks input + i:before {
    background-color: #dee5e7;
}

.i-checks > i {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 4px;
    margin-left: -20px;
    line-height: 1;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #cfdadd;
}

.i-checks > i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: transparent;
    content: "";
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.i-checks > span {
    margin-left: -20px;
}

.i-checks > span .active {
    display: none;
}

.i-checks-sm input:checked + i:before {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
}

.i-checks-sm > i {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-left: -18px;
}

.i-checks-lg input:checked + i:before {
    top: 6px;
    left: 6px;
    width: 16px;
    height: 16px;
}

.i-checks-lg > i {
    width: 30px;
    height: 30px;
}

/** iCheck checkbox error validation **/
.has-error .i-checks input[type="radio"] + i, .has-error .i-checks input[type="radio"] + i:before {
    border-color: #d84315;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.min-height-500 {
    min-height: 500px;
}

.max-height-450 {
    max-height: 450px;
    overflow-y: auto;
}

.max-height-300 {
    max-height: 300px;
    overflow-y: auto;
}

.max-height-350 {
    max-height: 350px;
    overflow-y: auto;
}

.no-box-shadow {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.bg-transparent {
    background: transparent !important
}

.h-full {
    height: 100%;
}


.dis-block {
    display: block;
}

.dis-inline-block {
    display: inline-block;
}

.dis-inline {
    display: inline;
}

.dis-none {
    display: none;
}

.dis-table {
    display: table;
}
